<!--@partial=head-->
<!--@partial=nav-->
<main class="about">
    <div id="content-wrapper">
        <article>
            <h1>About Me</h1>
            <p>
                My Name is Alex, I am from the United States, and I'm a minimalist full stack developer who enjoys helping people learn to code. I made this website with my own ssr library, <a href="https://github.com/abschill/html-chunk-loader" target="_blank" rel="noreferrer">which you can find here.</a> I do this full time, so I don't need or want your money,
            </p>
            <p>
                I have courses on things like the HTTP Protocol and the React UI Library, and the Amazon Web Services Infastructure if you are interested in full stack development. I also write articles where we explore various topics relating to the development industry or specific technologies. <a href="/">You can find those here.</a>
            </p>
            <p>My interests outside of my work include MMA, Survival/Bushcraft, and Embedded Engineering.</p>
            <div class="about-footer">
                <h2>open source projects i actively maintain</h2>
				<ul>
					<li><a target="_blank" rel="noreferrer" href="https://github.com/abschill/html-chunk-loader">HTMLC Node</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://github.com/abschill/httpuppy">HTTPuppy</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://github.com/abschill/quickfig">Quickfig</a></li>
				</ul>
            </div>
        </article>
    </div>
</main>
<!--@partial=scripts-->
