<!--@partial=head--><!--@partial=nav-->
<main><div id="content-wrapper"
<article class="article">
<h1 id="welcome-to-the-new-site">Welcome to the new site</h1>
<p>You may have noticed if you were on the old site that things look a bit different now. I decided to refactor my old repository into a public version, which includes the slow migration to markdown-based content pages in the repo itself, such as this text you’re reading right now. In the past, I was using prismic to facilitate SSR content but since I made this site originally I have really gotten into markdown note-taking as opposed to more traditional text documents/powerpoints, and so I decided it was time to change my blog to that sort of format as well. I think it’ll be easier to be motivated to write more since I can just copy segments from my notes directly into new writeups and not have to deal with the whole third party aspect of using a service for my content.</p>

</article>
</div></main>
<!--@partial=scripts-->