<!--@partial=head-->
<!--@partial=nav-->
<main class="about">
    <div id="content-wrapper">
        <article>
            <h1>About Me</h1>
            <p>
                My Name is Alex, I am from the United States, and I'm a minimalist full stack developer who enjoys helping people learn to code. I made this website with my own library, <a href="https://github.com/abschill/html-chunk-loader" target="_blank" rel="noreferrer">which you can find here.</a> I do this full time, so I don't need or want your money, 
                I have no aspirations of becoming an influencer so you don't have to worry about me trying to "market" you or something. I don't store or view analytics, nor do I have any measurements of user data on my site. 
                I don't plan to change this, as I said I enjoy doing this, so engagement is pretty irrelevant to me as long as [the site] can help <i>you</i>, the individual reading this.
            </p>
            <p>
                I have courses on things like the HTTP Protocol and the React UI Library, and the Amazon Web Services Infastructure if you are interested in full stack development. I also write articles where we explore various topics relating to the development industry or specific technologies. <a href="/">You can find those here.</a>
            </p>
            <p>My interests outside of my work include Boxing/BJJ, Wilderness/Survival, and Embedded Engineering.</p>
            <div class="about-footer">
                <strong>Other Links</strong><br />
                <a target="_blank" rel="noreferrer" href="https://github.com/abschill">My Github</a> |
                <a target="_blank" rel="noreferrer" href="https://github.com/abschill/html-chunk-loader">HTML Chunk Loader</a> |
                <a target="_blank" rel="noreferrer" href="https://github.com/abschill/create-lit-project">Create Lit Project</a> |
                <a target="_blank" rel="noreferrer" href="https://github.com/abschill/terminal-color">Terminal Style Microlib</a>
            </div>
        </article>
    </div>
</main>
<!--@partial=scripts-->