<!--@partial=head-->
<!--@partial=nav-->
<main class="about">
    <div id="content-wrapper">
        <article>
            <h1>About Me</h1>
            <p>
                My Name is Alex, I am from the United States, and I'm a minimalist full stack developer who enjoys helping people learn to code. I made this website with my own ssr library, <a href="https://github.com/abschill/html-chunk-loader" target="_blank" rel="noreferrer">which you can find here.</a> I do this full time, so I don't need or want your money,
            </p>
            <p>
                I have courses on things like the HTTP Protocol and the React UI Library, and the Amazon Web Services Infastructure if you are interested in full stack development. I also write articles where we explore various topics relating to the development industry or specific technologies. <a href="/">You can find those here.</a>
            </p>
            <p>My interests outside of my work include MMA, Survival/Bushcraft, and Embedded Engineering.</p>
            <div class="about-footer">
                <h2>tools and things</h2>
				<ul>
					<li><a target="_blank" rel="noreferrer" href="https://code.visualstudio.com/">JS/Rust IDE</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://www.jetbrains.com/go/">Go/C IDE</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://docs.microsoft.com/en-us/sql/azure-data-studio/download-azure-data-studio?view=sql-server-ver15">SQL IDE</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://www.vim.org/download.php">Text Editor</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://github.com/abschill/blog-dot-abschill">This Site Repository</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://github.com/abschill/html-chunk-loader">HTML Chunk Loader</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://github.com/abschill/create-lit-project">Create Lit Project</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://www.shellcheck.net/">Shell Check</a></li>
					<li><a target="_blank" rel="noreferrer" href="https://devdocs.io/">Dev Docs</a></li>
				</ul>
				<h3>peripherals</h3>
				<ul>
					<li># Monitors: 2</li>
					<li>Keyboard: Redragon k552 blue switches just replace it every 6-8 months</li>
					<li>Mouse: just rotate random red dragon models when they break / get nasty theyre all pretty decent & cheap</li>
					<li>cpu buzzwords: AMD Ryzen 7 5700G</li>
					<li>cpu clock: 3.8ghz</li>
					<li>cpu cores: 8</li>
					<li>pc mem: 32gb</li>
					<li>gpu buzzwords: Geforce RTX 3050</li>
					<li>gpu mem: 8gb</li>
				</ul>
            </div>
        </article>
    </div>
</main>
<!--@partial=scripts-->
