<!--@partial=head-->
<body class="page-is-animatable">
    <!--@partial=nav-->
    <main>
        <div id="content-wrapper">
            <article class="article">
                <div class="article-meta">
					<div class="title-wrapper">
						<h1 class="article-meta-title"><!--@render=title--></h1>
						<img width="128" height="128" src="<!--@render=article_icon-->" alt="Article Icon">
					</div>
                    <p class="article-meta-description"><!--@render=description--></p>
                    <div class="article-meta-date"><!--@render=date--></div>
                </div>
                <div class="article-content">
                    <!--@render=content-->
                </div>
            </article>
        </div>
    </main>
</body>
<!--@partial=scripts-->
