<!--@partial=head-->
<!--@partial=nav-->
<div id="content-wrapper">
	<h1 class="display-4">Learn the Full Stack</h1>
    <main class="home">
            <ul class="collection">
                <!--@loop(homeLinks){
                    <li class="collection-item">
                        <a href="/articles/{href}">
                            <div><img class="circle" src="{icon}"/></div>
                            <div>{title}</div>
                            <small >{date}</small>
                            <div>{desc}</div>
                            <div ><i class="fal fa-chevron-right"></i></div>
                        </a>
                    </li>
                }-->
            </ul>
	</main>
</div>
<!--@partial=scripts-->
