<!--@partial=head-->
<!--@partial=nav-->
<div id="content-wrapper">
    <main class="home">
        <h1 class="display-4">Learn the Full Stack</h1>
            <ul class="collection">
                <!--@loop(homeLinks){
                    <li class="collection-item avatar mdl-card mdl-shadow--2dp">
                        <a href="/articles/{href}">
                            <div class="mdl-card__media"><img class="circle" src="{icon}"/></div>
                            <div class="mdl-card__title"><div class="mdl-card__title-text">{title}</div></div>
                            <small class="mdl-card__title-text">{date}</small>
                            <div class="mdl-card__supporting-text">{desc}</div>
                            <div class="secondary-content"><i class="fal fa-chevron-right"></i></div>
                        </a>
                    </li>
                }-->
            </ul>
</main>
</div>
<!--@partial=scripts-->