<head>
    <title><!--@render=meta_title--></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/img/icons/me.png">
    <meta name="description" content="<!--@render=meta_desc-->"/>
    <meta property="og:image" content="<!--@render=og_img-->">
    <meta name="image" property="og:image" content="<!--@render=og_img-->">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#f8E9A1">
    <meta name="background-color" content="#374785">
    <link rel="apple-touch-icon" href="/assets/img/icons/me.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>