@link-color: #428bca;
@link-color-hover:  darken(@link-color, 10%);

:root {
	--gray: rgb(70, 59, 59);
	--f-b-weight: 500;
	--f-reset: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--i-width: clamp(180px, 50%);
	--card-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(27, 31, 35, 0.25) 0px 0px 0px 1px;
}

* {
    box-sizing: border-box;
	font-family: var(--f-reset);
    margin: 0;
    vertical-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--gray);
	font-family: var(--f-reset);
	font-weight: var(--f-b-weight);
}

body {
    min-height: 100vh;
    height: -webkit-fill-available;
    overflow-x: hidden;
	width: 100%;
}

#masthead {
    float: left;

    img {
        vertical-align: middle;
    }
}

#content-wrapper {
	margin: 0 auto;
	max-width: 960px;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 960px;
	padding: 1rem 0;
	transition: all .15s ease;
}

a {
	color: @link-color;
	// display: block;
	text-decoration: none;

	&:hover {
		color: @link-color-hover;
	}
}

.block-img {
	background-color: #f5f5f582;
	display: grid;
	justify-content: center;

	img {
		margin: 1rem 0;
		max-width: 960px;
	}
}


.collection {
	list-style: none;

	&-item {
		border-radius: 8px;
		box-shadow: var(--card-shadow);
		margin: 1.45rem 0;
		transition: box-shadow .25s ease;

		a {
			display: grid;
			grid-template-columns: 1fr 3fr;
			padding: 1.25rem;
		}

		&__icon {
			display: grid;
			justify-content: center;


			img {
				height: 128px;
				opacity: 0.85;
				transition: opacity .15s ease;
				width: 128px;
			}
		}

		&__title {
			font-size: 2.25rem;
			font-weight: 500;
		}

		&__date {
			text-align: center;
		}

		&:hover {
			box-shadow: var(--card-shadow);

			img {
				opacity: 1;
			}
		}
	}
}

p {
	font-size: 1.05rem;
	line-height: 2.75em;
	margin: 1.25rem 0;
}

pre {
	background: #efefef;
	border: 2px solid transparent;
	border-radius: 4px;
	box-shadow: var(--card-shadow);
	cursor: pointer;
	display: block;
	font-family: monospace;
	margin: 1.25rem 0;
	padding: .25rem;
	white-space: pre-wrap;
	word-break: keep-all;

	&:before {
		border-radius: 50%;
		content: "</>";
		display: block;
		font-size: 17px;
		font-weight: 800;
		float: right;
		transition: all .35s ease;
		transform: rotate(0);
		width: clamp(18px,26px,36px);
	}

	&:hover:before {
		transform: rotate(5deg);
	}
}

.title-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;

	img {
		clip-path: circle(50%);
		opacity: 0.9;
	}
}
